/* @override http://danmartens.dev/style.css */

body {
	background-color: #f4f4f4;
	font-size: 12px;
	font-family: Helvetica, Arial, sans;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#alles {
	height: 6.667em;
	margin-left: -16.333em;
	margin-top: -3.333em;
	width: 32.583em;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 50%;
}

.ceci-nest-pas .text {
	display: none;
}

.ceci-nest-pas .image {
	background: url(ceci_nest_pas.gif) no-repeat;
	height: 46px;
	width: 391px;
}

html.wf-learningcurve-n4-active.wf-active .ceci-nest-pas .text {
	color: #333;
	display: block;
	font-family: "learning-curve";
	font-size: 4.500em;
}

html.wf-learningcurve-n4-active.wf-active .ceci-nest-pas .image {
	display: none;
}

.di-me {
	height: 1.667em;
	margin: 0.833em auto;
	padding-right: 1.333em;
	display: block;
	width: 20.000em;
}

.di-me a {
	display: block;
	float: left;
	line-height: 1.333em;
	padding: 0 0.833em;
}

.di-me img {
	display: block;
	float: left;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	body {
		font-size: 10px;
	}
}