/* @override http://danmartens.dev/style.css */

body {
	background-color: #f4f4f4;
	font-size: 12px;
	font-family: Helvetica, Arial, sans;
	margin: 0;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#alles {
	height: 80px;
	margin-left: -240px;
	margin-top: -40px;
	width: 480px;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 50%;
}

.ceci-nest-pas {
	color: #333;
	font-family: "learning-curve", cursive;
	font-size: 36px;
}

html.wf-learningcurve-n4-active.wf-active .ceci-nest-pas {
	font-size: 54px;
}

.di-me {
	margin-top: 10px;
}

.separate {
	padding: 0 5px;
}